body {
	background-image:url('images/background.jpg');
	background-repeat: repeat;
	font-family: Arimo, Arial , Helvetica, sans-serif;
	font-size: medium;
	color: #003133;	
}

header {
	text-align: center;
	background-color: #67989A;
	border: 5px solid #003133; 
	padding-top: 15px;
	margin: auto;
	width: 900px;
	height: 200px;
}

section {
	background-image: url('images/2colback.jpg');
	background-repeat: repeat-y;
	border-right: 5px solid #003133;
	margin: auto;
	width: 900px;
	overflow: hidden;
}

nav {
	width: 250px;
	float: left;
}

article {
	text-align: center;
	width: 650px;
	float: left;
	font-family: Arimo;
}

h1 {
	color: #003133;
	text-align: center;
	font-family: Arimo;
	font-size: xx-large;
}


.header {
  padding: 10px;
  text-align: center;
  background-color: #003133;
  color: white;
  font-size: 20px;
}

footer {
	text-align: center;
	background-color: #67989A;
	border: 5px solid #003133;
	margin: auto;
	width: 900px;
	height: 80px;
	font-weight: bold;
}

.logoleft {
	float: left;
	padding-top: 0px;
	padding-left: 0px;
	margin-bottom: 15px;
	margin-left: 15px;
}

nav a {
	border: 4px solid #A8F4F8;
	background-color: #417E80;
	border-radius: 5px;
	line-height: 300%;
	font-weight: bold;
	font-size: 25px;
	color: white;
	text-decoration: none;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-left: 55px;
	font-family: Arimo;
}
	
nav a:hover {
	color: #A8F4F8;
	background-color: #003133;
	border: 3px outset #D2ED9E;
}
	
#thumbs, #image {
		width: 650px;
		text-align: center;
		margin: 0 auto 0 auto;
		color: #003133;
	}

	#thumbs {
		margin-top: 5px;
	}

			
	#thumbs img {
		border: 5px solid #003133;
		margin: 3px;
		padding: 5px;
		background-color: #67989A;
	}	
	
.auto-style1 {
	float: left;
	height: 150px;
	padding: 5px;
	background-color: #67989A;
	margin: 30px;
	border: 5px solid #003133;
}

.tribute {
	text-align: left;
	font-weight: bold;
	margin: 40px;
}

.welcome {
	text-align: center;
	font-weight: bold;
	color: #003133;
	margin-bottom: 20px;
}

.nav {
	float: center;
}